# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]
*$py.class
*.pyc

# Git
.git

# Environments
*.env
.venv/

# Logs
log/
*.log

# VS Code
.vscode

# Databases
*.db

# Tests
tests/

# Other stuff
.*/
