##### main #####

# telegram bot token
TOKEN=

# postesql database URL
DATABASE_URL=

# twitter [auth_token] (needed for gallery-dl's twitter API)
TW_TOKEN=

# instagram [sessionid] (needed for gallery-dl's instagram API)
IG_TOKEN=

# pixiv refresh token (needed for pixiv API)
PX_REFRESH=

# telegram channel id [in the form -100XXXXXXXXXX] used as a dump for inline mode
DUMP=

##### webhook #####

# host name
HOOK_URL=

# port
PORT=

##### bot files #####

# help file
HELP_FILE=./help.txt

# settings file
PATH_SETTINGS=./settings.toml

##### optional #####

# image resizer API to send requests to, if memory is limited
RESIZER_API=
